<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Features Section</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="featuresC.css" />
  </head>
  <body>
    <section>
      <div class="row">
        <h1>Our Features</h1>
      </div>
      <div class="row">
        <!-- Column One -->
        <div class="column">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fa-user"></i>
            </div>
            <h3>What is pastebin?</h3>
            <p>
                Pastebin is a website where you can store any text online for easy sharing.The idea behind the site is to make it more convenient for people to share large amounts of text online
            </p>
          </div>
        </div>
        <!-- Column Two -->
        <div class="column">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fa-shield-halved"></i>
            </div>
            <h3>What is the maximum paste size?</h3>
            <p>
                The maximum size a paste can be is 512 kilobytes (0.5 megabytes).PRO members are allowed to create pastes up to 10 megabytes.
            </p>
          </div>
        </div>
        <!-- Column Three -->
        <div class="column">
          <div class="card">
            <div class="icon">
              <i class="fa-solid fa-headset"></i>
            </div>
            <h3>Can I post links & images?</h3>
            <p>
                We allow clickable links & images to be posted, but only by our PRO users. 
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>